.contacts {
  &__content {
    @include page-grig;

    row-gap: 48px;
  }

  &__form {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 1 / 6;
    }
  }

  &__items {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / 6;
    }

    @include on-desktop {
      grid-column: 8 / 11;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }

  &__link {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;

    &:hover {
      color: rgb(195, 195, 195);
    }
  }
}
