.footer {
  background-image: url(/src/images/footer-bg-small.png);
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;

  @include on-tablet {
    background-image: url(/src/images/footer-bg-medium.png);
    height: 480px;
  }

  @include on-desktop {
    background-image: url(/src/images/footer-bg-large.png);
    height: 555px;
  }
}
