.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__input {
    box-sizing: border-box;
    height: 48px;
    padding: 14px 16px;
    border-radius: 40px;

    @include entry;
  }

  &__textarea {
    padding: 14px 16px;
    border-radius: 16px;
    min-height: 100px;
    background-color: #f8f8fa;
    border: none;
    resize: none;

    @include entry;
  }

  &__button {
    margin-top: 16px;
  }
}
