.icon {
  width: 24px;
  height: 24px;
  background-size: contain;

  @include hover(transform, scale(1.2));

  &--phone {
    position: relative;
    background-image: url(../images/icons/phone-icon.svg);

    &--hover-tel {
      @include on-tablet {
        &:hover {
          &::before {
            content: '+1 234 555-55-55';
            position: fixed;
            display: flex;
            align-items: center;
            width: 140px;
            height: 100%;
            right: 100%;
            margin-right: 20px;
            font-weight: 700;
            font-style: Bold;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 2px;
            color: $main-white-color;
          }
        }
      }
    }
  }

  &--menu {
    background-image: url(../images/icons/menu-icon.svg);

    &:hover {
      background-image: url(../images/icons/menu-icon-hover.svg);
    }
  }

  &--close {
    background-image: url(../images/icons/close-icon.svg);
  }

  @include on-tablet {
    width: 32px;
    height: 32px;
  }
}
