.menu {
  height: 100vh;
  background-color: $menu-bg-color;
  margin: 0;
  text-transform: uppercase;
  color: $main-dark-color;
  font-weight: 600;
  overflow: auto;

  &__top {
    margin-bottom: 24px;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  &__logo {
    width: 130px;
    height: 38px;
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__phone-number {
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    display: block;
    margin-bottom: 16px;
  }

  &__book-test {
    padding-bottom: 8px;
    border-bottom: 1px solid $main-dark-color;
    display: block;
    width: fit-content;
    text-decoration: none;
    color: inherit;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
  }
}
